*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.main-visual-text {
  padding: 20px;
  color: #848282;
}

section {
  width: 840px;
  margin-left: auto;
  margin-right: auto;
}

.item1 {
  margin-top: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #7f7f7f;
}

.item2 {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #7f7f7f;
}

.item3 {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #7f7f7f;
}

.item4 {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #7f7f7f;
  margin-bottom: 50px;
}